<div class="row">
	<div class="span6">
		<div class="hero-unit well">
	  		<h1>SpotNumber</h1>
			<p>
			<%= link_to "Start Here For Free", new_user_registration_path, :class => "btn btn-warning btn-large", :style => "font-size:30px;text-shadow:2px 1px 2px #5e5e5e;", :onClick => "_gaq.push(['_trackEvent', 'About Page', 'Sign Up', 'StartHereForFree']);" %>
	  		</p>
			<h2 style="margin-top:20px;">What People are Saying:</h2>
			<div id="favorites">
				<div class="profile_pic">
					<%= image_tag('https://si0.twimg.com/profile_images/1958165985/424976_747779631899_43801822_35584521_1337587228_n_reasonably_small.jpeg', :class => 'profile_pic' )%>
				</div>
				<div class="tweet">
					<%= link_to "@derekkean", "http://twitter.com/derekkean", :class => 'twitter_name' %>&nbsp;:&nbsp;<p>#spotnumber is a very neat tool that I can see many fam members using!
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="hero-unit well">
			<h2>What is Spotnumber?</h2>
			<p>Spotnumber is an online financial performance tracker for home businesses. We connect with EtsyTM, eBayTM, and you can use Spotnumber by itself.  We automate your sales data, so you can keep track of what you spent to make that sale.
			</p>
			<p>Use easy to decipher graphs to easily showcase how you are performing. Load up the page on your mobile phone, and check at any moment the level of profitability that products have had for you in the past. We want you to profit on everything you sell!
			</p>
		</div>
	</div>
</div>
<div class="row">
</div>