<div class="row">
	<div class="span12" style="text-align:center;">
		<div class="hero-unit">
			<h1>Over <span style="text-shadow:3px 3px 5px #5e5e5e;"><%= @totalitems %></span> items Tracked</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6">
		<div class="hero-unit">	
	  		<h1>SpotNumber</h1>
	  		<p><strong>Tracking Etsy, Ebay and Product Profitability</strong></p>
			<p>If you craft, shop, upcycle or operate any type of home based business that deals in physical product, you need to use SpotNumber. We make it easy to show you how much actual profit you are making, and where you can improve!</p>
			<p>Our platform is built from over 30 years of accounting experience and 30 years of accounting inexperience, to give you the ultimate blend of usability and power.</p>
	  		<p>
	   			<%= link_to "30-Day Trial", new_user_registration_path, :class => "btn btn-warning btn-large" %>
	  		</p>
		</div>
	</div>
</div>
<div class="row">
</div>