<div class="row">
	<div class="span12 well" style="text-align:center;">
		<h5>Follow the guidelines for how an item is added. Be sure to make notes you yourself will remember, because that just makes life oh so easy!</h5><br />
		<%= image_tag('new-item-help.png')%>
	</div>
</div>

<h1>Add a New Item</h1><br />
<%= render 'form' %>

<%= link_to 'Back', items_path %>
